.sidebar{
    position:fixed;
    width: 15%;
    height: 100%;
    text-align: center;
    border-right: 1px solid gray
    /*Estoy probando git*/
    
}
.content-container {
    margin: 0 auto;
    width: 950px;
    height: 90px;
    border: 1px solid #7d7d7d;
    padding-left: 7px;
    padding-bottom: 13px;
    bottom: -79px;
    position: relative;
    left: 97px;
    right: 65px;
}
.container{
    margin: 0 auto;
    display:flex;
    justify-content: center;
    padding-top: 29px;
}
.button{
    background-color: yellow;
    height: 35px;
}
@media only screen and (max-width:391px) {
    .content-container {
        position: relative;
        display: table-row;
        /*background-color: rgb(255, 0, 89);*/
        width: 100%;
    }
}